<!DOCTYPE html>
<html>
  <head>
    <title>login-div</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3">
    <meta name="description" content="this is my page">
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<!-- JavaScript part -->
	<script type="text/javascript" lang="JavaScript">
	
		/* 页面通用部分 */
		
	</script>	
	<style type="text/css">
		#login
		{
			width:400px;
			height: 200px;
			position:absolute; 
			top: 50%;
			left: 50%;
			margin:-100px 0 0 -200px;
			border:1px solid red; 
			background-color: #097;
		}
		
		#header
		{
			background-color: yellow;
			margin-top: 20px;
			margin-bottom: 20px;
			/* 文本居中对齐 */
			text-align: center;
		}
		
		#username
		{
			margin-bottom: 20px;
		}
		
		#password
		{
			margin-bottom: 20px;
		}
		
		#loginBtn
		{
		
		}								
	</style>
  </head>
  
  <body>
	<div id="login">
		登录成功后 显示的页面!
		<form action="/http-session/api/sys/logout" method="get">
			<div style="float:right; margin-right: 10px;"><input type="submit" value="注销" /></div>
		</form>		
		<a href="http://127.0.1.1:8080/http-session/api/sys/logout">注销</a>
	</div>


	<script type="text/javascript" lang="javascript">
	</script>
  </<body>
</html>
